.heading The Bucket List

#bucket
  = form_for @edit_or_new_to_do ,remote: true , authenticity_token: true do |f|
    = render partial: 'to_dos/edit', locals: { f: f, destination_options: @destination_options}

  %select#select--sort-to_dos
    %option{ value: "data"}
      ^A-Z
    %option{selected: "selected", value: "data_id"}
      ^1,2,3..
      
  #to_dos
    / = render partial: 'to_dos', locals: {some_to_dos: @to_dos}

    = render partial: @to_dos


#map-container
  #map-canvas{data: {to_dos: @to_dos_json ,style: "position: fixed; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);" }}