body {
  position: relative;
  background-color: whitesmoke;
  font-size: 1.5rem;
  font-family: helvetica, Futura;
}

h1 {
  font-size: 2em;
}


#map-canvas {
  display: inline-block;
  min-width: 100%;
  height: 800px ;
  position: fixed;
  z-index: -1;
}

#modal {
  position: fixed;
  width: 20em;
  font-size: 0.5em;
  padding: 1em;
  box-shadow: 1em 1em 1em;

background-color: white;
}

/*#modal:before {
  content: "x";
  position: relative;
  left: 315px; 
}
*/


#modal-background {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0);
}

/*.undisplayed {
  display: none;
}*/