body {
  position: relative;
}

#map-canvas {
  width: 800px;
  height: 800px ;
}

#modal {
  position: relative;
  width: 20em;

background-color: white;
}

/*#modal:before {
  content: "x";
  position: relative;
  left: 315px; 
}
*/
#modal-background {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0);
}