#destination__search-opts {
  width: 17rem;
  position: fixed;
  left: 33rem;
  font-size: 1.3rem;
}

fieldset.nav__left {


}

#fieldset__search {
  background-color: transparent;
  width: 20em;
  position: fixed;
  top: 0em;
  left: 13rem;
  z-index: 1;
}

#search-results {

}

#btn--search {
    position: relative;
    left: 16em;
    top: -1.58em;
    font-size: 1em;
}

#container--search-results{
  width:26em;
  position: fixed;
  top: 1.5em;
}