// Place all the styles related to the to_dos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {

  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0.5em;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #f2f2f2;
  background-color: rgb(174, 85, 118);
  padding-top: 0.5em;
  top: 0em;
}

.h3 {

    display: block;
    font-size: 1.17em;
    padding-bottom: 0.3em;
    font-weight: bold;
}

fieldset {
  background: white;
  border:none;
}

fieldset > * {
  font-size: 1.5rem;
  border: none;
}

fieldset > label {
  width: 2em;
  display: block;
  font-size: small;
  color: grey;
  margin-bottom: 0.5em;
}

fieldset > input , fieldset > select {
  margin-left: 1em;
  margin-right: auto;
  border: solid #f2f2f2 1px;
  border-radius: 3px;
  padding-left: 0.3em;
}


/*.box-shadow--light {
  box-shadow: 0.2em 0.2em 1.5em grey;
}*/

#select--sort-to_dos {
  font-size: 1.5rem;
}

#new_to_do {
  box-shadow: 0.2em 0.2em 1.5em grey;
  background-color: white;

}

.to_do {

  background-color: white;
  /*border-radius: 2px;*/
  box-shadow: 0.2em 0.5em 1.2em grey;
  padding: 1.3em;
  margin-bottom: 2em;
}

#bucket {
  float:left;
  display: inline;
  width: 26em;

}

#btn__add-to_do {
    padding: 0.5em;
    font-size: 1em;
    margin: 1em 0.5em;
    cursor: pointer;
}

.click--photos {

  display: block;
}

.thumbnail {
  margin-right: -6px;
  margin-bottom: -4px;
}

.undisplayed {
  display: none;
}

.edit-link {
  display: inline-block;
  float: right;
  /*cursor: pointer;*/

}